---
import Layout from '../layouts/base.astro'
import { getChannelInfo } from '../lib/telegram'
import { getEnv } from '../lib/env'

const channel = await getChannelInfo(Astro)

channel.seo = {
  title: 'Tags',
}

const tags = (getEnv(import.meta.env, Astro, 'TAGS') || '').split(',')
---

<Layout channel={channel} id="main-container">
  <div class="section-title">Tags</div>

  <div class="tag-cloud">
    {
      tags.map((tag: string) => (
        <div class="tag-cloud-item">
          <a href={`/search/%23${tag}`} class="tag">
            {tag}
          </a>
          {/* <span class="tag-cloud-item-count">0</span> */}
        </div>
      ))
    }
  </div>
</Layout>
