* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.site-title {
  view-transition-name: site-title;
  transition: 0.2s ease;
}

.item {
  transition: 0.2s ease;
}

#aside-container {
  position: sticky;
  top: 0;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--surface);
  color: var(--accent-strong);
  width: 38px;
  height: 38px;
  border-radius: 100%;
  border: 1px solid var(--border-color);
  font-size: 24px;
  text-decoration: none;
  opacity: 0;
  transition:
    opacity 0.3s,
    transform 0.3s,
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
  z-index: 1000;
  box-shadow: var(--shadows);

  &:hover {
    transform: translateY(-3px);
    background: var(--accent-strong);
    color: #fff;
    border-color: var(--accent-strong);
  }

  &:active {
    transform: translateY(1px);
  }

  img {
    filter: var(--icon-secondary-filter);
  }
}

/* Use @scroll-timeline to control the display of the button */
@supports (animation-timeline: view()) {
  #back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s linear both;
    animation-timeline: view(block 0 100vh);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      pointer-events: none;
    }
    to {
      opacity: 0.9;
      pointer-events: auto;
    }
  }
}
